

.calendar{
    border-color: #0056b3;
    border-style: groove;
    border-width: 1px;
    table-layout: fixed;
    text-align: center;
    font-size: 12px;
}

 a.calendar{
    color:white;
}
 .login{
     margin-top: 150px;
 }
 .register{
     margin-top: 100px;
 }
 .mm {
width: 250px;

 }
 .main{
     margin-left: 100px;
     font-weight: bold;
 }

 .add{
     margin-top: 110px;
     -moz-border-radius: 5px 15px;
     border-radius: 5px 15px;
     -moz-box-shadow: -5px -5px 5px 5px #888;
     -webkit-box-shadow: -5px -5px 5px 5px #888;
     box-shadow: -5px -5px 5px 5px #5a6268;
     width: 50%;
     alignment: center;
     margin-left: 300px;

 }

.bb{
    background-color: lightskyblue;
}
.label{
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;
    font-weight: bold;
}
.ss{
    width: 200px;
}

.tab{
    margin-left: 200px;

}
.member{
    text-align: center;
    margin-bottom: 50px;
}
.bt{
    margin-top: 2px;
    margin-bottom: 2px;
}

.img{
    background-image: url("/images/adult.jpg");
}

.evt{
    margin-left: 50px;
}

.blu{
    background-image: url("/images/new_adult.jpg");
    }

.user{

    margin-top: 150px;

}
.sep{
    background-image: url("/images/siblin.jpg");
       background-position: center;
}
.white{
    font-color:white;
}


.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.pencil{
    height: 20px;
    width: auto;
}